body{font-family:arial;}
ul{list-style:none;}
li{float: left;}
a{text-decoration:none;}
input{border:1px solid D8D8D8; padding:8px 5px; color:grey;}
select{border:1px solid D8D8D8; padding: 8px 5px; color:grey;}
button{background-color:#04AEDA; padding:8px 5px; color:#fff; border:none; float:left;}
h3{color:#548dda;}
.error{color:red; font-size:11px;}
.success{color:green; font-size:11px;}
hr{border-top: thin solid #fff;}
th{text-align: right; color: #363636;}